@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container" style="vertical-align: middle;margin-top: 150px;background-color: #f9fafb;">
    <div class="startPage">
        <h1 class="white-space:50px" style="font-size:60px; font-weight:200">TraMaSys</h1>
        <p>Travel Manager System</p>
    </div>
    <div> <a class=" fa-text-width btn btn-primary log" style="width:100px; background-color:#4c78b9" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></div>
</div> 